* {
    margin: 0;
    padding: 0;
}

.table {
    width: 400px;
    height: 300px;
    margin: 50px auto;
    overflow: scroll;
}

table {
    width: 680px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #dfe2e6;
}

th,
td {
    padding: 10px;
}

tr:first-child {
    background-image: linear-gradient(to right, #8f4882, #69818e);
    color: #fff;
}

td:last-child {
    font-weight: bold;
}

tr:nth-child(3n+0) td {
    background: #1abc9c;
}

tr:nth-child(3n+1) td {
    background: #2ecc71;
}

tr:nth-child(3n+2) td {
    background: #3498db;
}

img {
    width: 10px;
    margin-left: 5px;
}